.calendar {
  float: left;
  margin-bottom: 0;
}

#calendar {
  .table-bordered {
      td,
      th {
        border: 1px solid #ddd;
      }
  }
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
  border-radius: 4px;
}
