/* ----- Card Component ----- */
// Card
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 1rem;
}
.card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-title {
  font-size: 2.4rem;
  margin: 0;
}
.card-body {
  font-size: 1.6rem;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2.0rem;
  h3 {
    font-size: 1.6rem;
  }
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.card-default:not(.card-outline) > .card-header {
  background-color: #007bff;
  .card-title {
    color: #fff;
  }
}
.card-primary:not(.card-outline) > .card-header {
  background-color: #007bff;
  .card-title {
    color: #fff;
  }
}
.card-secondary:not(.card-outline) > .card-header {
  background-color: #6c757d;
  .card-title {
    color: #fff;
  }
}
.card-success:not(.card-outline) > .card-header {
  background-color: #28a745;
  .card-title {
    color: #fff;
  }
}
.card-info:not(.card-outline) > .card-header {
  background-color: #17a2b8;
  .card-title {
    color: #fff;
  }
}
.card-warning:not(.card-outline) > .card-header {
  background-color: #ffc107;
  .card-title {
    color: #fff;
  }
}
.card-danger:not(.card-outline) > .card-header {
  background-color: #dc3545;
  .card-title {
    color: #fff;
  }
}
.card-dark:not(.card-outline) > .card-header {
  background-color: #343a40;
  .card-title {
    color: #fff;
  }
}
.card-primary.card-outline {
  border-top: 3px solid #007bff;
}
.card-secondary.card-outline {
  border-top: 3px solid #6c757d;
}
.card-success.card-outline {
  border-top: 3px solid #28a745;
}
.card-info.card-outline {
  border-top: 3px solid #17a2b8;
}
.card-warning.card-outline {
  border-top: 3px solid #ffc107;
}
.card-danger.card-outline {
  border-top: 3px solid #dc3545;
}
.card-dark.card-outline {
  border-top: 3px solid #343a40;
}